<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recipe</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish -->
      <div class="form-group">
        <label for="dish" class="control-label">
          Dish
        </label>

        <input type="text" id="dish" name="dish" placeholder="Dish" class="form-control" value="<%= @recipe.dish %>">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for ingredients -->
      <div class="form-group">
        <label for="ingredients" class="control-label">
          Ingredients
        </label>

        <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients" class="form-control" value="<%= @recipe.ingredients %>">
      </div>

      <!-- Label and input for instructions -->
      <div class="form-group">
        <label for="instructions" class="control-label">
          Instructions
        </label>

        <input type="text" id="instructions" name="instructions" placeholder="Instructions" class="form-control" value="<%= @recipe.instructions %>">
      </div>

      <!-- Label and input for recipe_url -->
      <div class="form-group">
        <label for="recipe_url" class="control-label">
          Recipe url
        </label>

        <input type="text" id="recipe_url" name="recipe_url" placeholder="Recipe url" class="form-control" value="<%= @recipe.recipe_url %>">
      </div>

      <button class="btn btn-success">
        Create Recipe
      </button>
      or
      <a href="/recipes">Cancel</a>
    </form>
  </div>
</div>
