<head>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
</head>
<style>
h3 {
  font-family: 'Oswald', sans-serif;
  color: DodgerBlue;
  font-size: 20px;
}
body {
  font-family: 'Quattrocento', serif;
}

</style>
<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<% @user.recipes.each do |recipe| %>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <%= link_to recipe.dish, "/recipes/#{recipe.id}" %>
            <small>
              <%= time_ago_in_words(recipe.created_at) %> ago
            </small>
        </h3>
      </div>
      <div class="panel-body">
        Ingredients: <%=recipe.ingredients %>
      </div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Instructions: <%=recipe.instructions %></li>
      </ul>

      <div class="panel-footer">
        <% if current_user == recipe.user %>
          <div class="btn-group" role="group" aria-label="...">
            <a href="/recipes/<%= recipe.id %>/edit"> <button type"button" class="btn btn-default">Edit</button></a>
            <a href="/delete_recipe/<%= recipe.id %>"><button type="button" class="btn btn-default" rel="nofollow">Delete</button></a>
          </div>
          <%else %>
            <% like = Like.find_by(:recipe_id => recipe.id, :user_id => current_user.id) %>
            <% if like.present? %>
              <a href="/delete_like/<%= like.id %>" class="btn btn-link">
                <i class="fa fa-heart"></i> Saved Recipe
              </a>
            <%else %>
              <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="recipe_id" value="<%= recipe.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i> Save Recipe?
              </button>
            <%end %>
        <% end %>
      </div>

    </div>
  </div>
<%end %>
