<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Recipes</title>


  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">

  <style>
  h3 {
    font-family: 'Oswald', sans-serif;
    color: DodgerBlue;
    font-size: 20px;
  }
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 60px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><font color="DodgerBlue" face="Oswald">RecipeBox</a></font>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/recipes"><i class="fa fa-book" aria-hidden="true"></i> All Recipes</a></li>
          <li><a href="/likes"><i class="fa fa-heart" aria-hidden="true"></i> Saved Recipes</a></li>
          <li><a href="/users"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
            <li>
              <a href="/users/edit">
                <font color="grey"><i class="fa fa-fw fa-edit"></i> <%= current_user.username %></font>
              </a>
            </li>

            <li>
              <a href="/users/sign_out" data-method="delete" rel="nofollow">
                <font color="grey"><i class="fa fa-fw fa-sign-out"></i> Sign Out</font>
              </a>
            </li>
          <% else %>
            <li>
              <a href="/users/sign_up">
                <font color="grey">Sign Up</font>
              </a>
            </li>

            <li>
              <a href="/users/sign_in">
                <font color="grey">Sign In</font>
              </a>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
